img{

    height: 50vh;

   }
.card{
    display: grid;
    grid-template-columns: 250px 250px 250px;
    grid-template-rows: auto;


}

.movie:hover{
    scale: 1.2;
    transition: 1.5ms ease-in-out;
}